@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 1fr;
}
/*****MENU*****/
.menu{
    padding-top:3em ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1em;
}
.menu ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
}

.car {
    margin-top: 10em;
}
.menu__footer {
    margin-top: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95vh;
    background: red;

}
.container .cards__container {
    background: green;
    display: flex;
    flex-flow:row wrap ;
    overflow-y: scroll;
    align-items: center;
    gap: 2em;
    height:100vh;
    width:100%;

}
.container .cards__container .card{
    background: blue;
    width: 310px;
    height: 25.375em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.container .cards__container .card img{
    width: 80%;
    height: 70%;
    object-fit: contain;
}
.container .cards__container .card .content__card {
    border: 2px solid black;
    width: 100%;
    height: 30%;
    border-radius: 25px;
}
.container .cards__container .card .content__card {
    border: 2px solid black;
    width: 100%;
    height: 30%;
    border-radius: 25px;
}
