@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body {
    background: var(--color-body);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 10vh;
    /* background: green; */
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}
.menu__toggle {
    display: none;
}
.menu2 {
    display: none;
}
header .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
}
header .menu ul li{
    list-style: none;
}
header .menu ul li button {
    background: transparent;
    border: none;
    padding: .5em;
}

header .menu ul li button a {
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 1.4em;
    font-weight: 500;
}
header .menu ul li button:hover {

    color: var(--color-primary);

}
header p{
    color: var(--color-primary);
    font-size: 2em;
    font-family: "Poppins";
    letter-spacing: 2px;
}
.menuDisplay{
    display: none;
}
#home {
    
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
#home .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
#home .container .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    /* background: green; */
    justify-content: center;
    padding-left:20%;

}
#home .container .text .home__title{
    color: var(--color-primary);
    word-spacing: 0px;
    font-size:4em;
}
#home .container .text p{
    color: var(--color-secundary);
    font-size:1.5em;
    word-spacing:5px ;

}
#home .container .text button{
    color: var(--color-secundary);
    background: var(--color-primary);
    padding: 0.5em;
    border: none;
    text-transform: capitalize;
    font-size: 1em;
    word-spacing: 0.5em;
    margin-top:0.7em ;
    width: 250px;
    word-spacing:5px;

}
#home .container .img {
    display: flex;
    /* background: blue; */
    width: 50%;
    height: 70vh;
    justify-content:flex-start;  
}
#home .container .img img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
#aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutUs .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
#aboutUs .container .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    /* background: green; */
    justify-content: center;
    align-items: center;
    padding-right:18%;
    padding-left: 2%;

}
#aboutUs .container .text .aboutUs__title{
    color: var(--color-primary);
    word-spacing: 0px;
    font-size:1.3em;
    text-transform: capitalize;
    align-self: start;
}
#aboutUs .container .text .aboutUs__text1{
    word-spacing: 0px;
    font-size:3em;
    align-self: start;
    word-spacing: .3em;
}
#aboutUs .container .text p{
    color: var(--color-secundary);
    font-size:1.2em;
    word-spacing: .1em;
    word-spacing:5px ;
    align-self: start;
}
#aboutUs .container .text button{
    color: var(--color-secundary);
    background: var(--color-primary);
    padding: 0.5em;
    border: none;
    text-transform: capitalize;
    font-size: 1em;
    word-spacing: 0.5em;
    margin-top:0.7em ;
    width: 200px;
    word-spacing:5px;
    align-self: start;

}
#aboutUs .container .img {
    display: flex;
    /* background: blue; */
    width: 50%;
    height: 70vh;
    justify-content:center;  
    align-items: center;
    padding-left: 20%;
}
#aboutUs .container .img img {
    object-fit: contain;
    width: 100%;
    height: auto;
}
#foodMenu {
    width: 100%;
    height: 100vh;
}
#foodMenu .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    padding-top: .9rem;
}
#foodMenu .text .foodMenu__title {
    font-size: 1.2em;
    text-transform: capitalize;
    word-spacing: .2em;
    color: var(--color-primary);
}
#foodMenu .text .foodMenu__text {
    font-size: 3em;
    color: var(--color-secundary);
    word-spacing: .3em;
}
#foodMenu .cards__container {
    /* background: var(--color-secundary); */
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding-bottom: 10%;
    overflow: scroll;
}
#foodMenu .card {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background: var(--color-cuaternario);
}

#foodMenu .card .card__image{
    width: 21.875em;
    height: 21.875em;
}
#foodMenu .card .card__image img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
#foodMenu .card .card__icon {
    font-size: 20px;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    padding: .2em;
    align-self: flex-end;
}
#foodMenu .card .card__text .name{
    font-size: 1.3em;
    word-spacing: .4em;
}
#foodMenu .card .card__text .description{
    font-size: 1em;
    word-spacing: .4em;
}
#foodMenu .card .card__text .price{
    font-size: 1em;
    color: var(--color-primary);
    margin-bottom: 1em;
}
#services {
    width: 100%;
    height: 100vh;
}
#services .text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 30vh;
    width: 100%;
    padding-top: .9rem;
}
#services .text .services__title {
    font-size: 1.2em;
    text-transform: capitalize;
    word-spacing: .2em;
    color: var(--color-primary);
}
#services .text .services__text {
    font-size: 3em;
    color: var(--color-secundary);
    word-spacing: .3em;
}
#services .cards__container {
    /* background: var(--color-secundary); */
    height: 70vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 10%;
    overflow: scroll;
}
#services .card {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}

#services .card .card__image{
    width: 15.625em;
    height: 15.625em;
    margin-bottom: .8em;
    display: flex;
}
#services .card .card__image img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding-left: 25%;
}

#services .card .card__text .name {
    color: var(--color-primary);
    font-size: 2em;
    margin-bottom: .5em;
}
#services .card .card__text .description {
    color: var(--color-secundary);
    font-size: 1.2em;
    text-align: center;
    word-spacing: .2em;

}
#lastPage {
width: 100%;
height: 60vh;
}
#lastPage .banner{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}
#lastPage .banner .banner__content {
    width: 85%;
    height: 85%;
    background: var(--color-cuaternario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lastPage .banner .banner__content p{
    font-size: 3.2em;
    word-spacing: .1em;
    margin-bottom: 1.5em;
}
#lastPage .banner .banner__content button {
    color: var(--color-secundary);
    background: var(--color-primary);
    width: 10.4em;
    height: auto;
    padding: .3em .5em;
    border: none;
    text-transform: capitalize;
    font-size: 1.3em;
    word-spacing:5px;
}
footer{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5em;
    align-items: center;
}
footer .box1 ul {
    padding-top: 1.2em;
    list-style: none;
}
footer .box1 ul li a {
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 1.2em;
}
footer .box2 ul {
    padding-top: 1.2em;
    list-style: none;
}
footer .box2 ul li p {
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 1.2em;
}
footer .box3 ul {
    list-style: none;
    padding-bottom: 2em;
    margin-top: 1.2em;
}
footer .box3 ul li p {
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 1.2em;
}

footer .box4 ul {
    padding: 1.4em 0 6.8em 0;
    display: flex;
    gap: .4em;
    list-style: none;
}
footer .box4 ul li i {
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 1.4em;
    background: var(--color-primary);
    border-radius: 100%;
    padding: .2em;
}
footer .title {
    color:var(--color-secundary);
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: .2em;
    position: relative;

}
footer .title:after{
    content:"";
    width: 3em;
    height: 0.12em;
    background: var(--color-primary);
}


@media screen and (max-width:950px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 90vh 100vh auto auto auto 40vh 60vh;
        grid-template-areas: 
        "menu"
        "home"
        "abU"
        "fM"
        "fM"
        "serv"
        "lP"
        "foot"
        ;
    }
    header {
        width: 100%;
        height: 10vh;
        grid-area: menu;
        display: flex;
    }
    .menu2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10vh;
        left: 0;
        height: 0;
        overflow: hidden;
        background-color: var( --color-menuMovil);
        transition: height 0.3s ease;
        gap: .5em;
    }
    .menu2 ul li {
        list-style: none;
    } 
    .menu2 ul li button{
        background: none;
        border: none;
    } 
    .menu2 ul li button a{
        text-decoration: none;
        color:var(--color-secundary) ;
        font-size: 3em;
        font-weight: 500;
    } 
    .menu{
        display: none;
    }
    .menu__toggle {
        display: none;
    }
    .menuDisplay {
        display: flex;
        color: white;
        cursor: pointer;
    }

    .menu__toggle:checked + .menu2 {
        height: 50vh;
    }

    #home{
        grid-area: home;
        /* background: red; */
    }
    #home .container{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8em;
    }
    #home .container .text {
        padding-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50%;
        /* background: green; */

    }
    #home .container .text p {
        font-size: 1.2em;
    }
    #home .container .text .home__title{
        font-size: 2.5em;
    }
    #home .container .img {
        width: 80%;
        height: 50%;
        /* background: yellow; */
    }
    #home .container .text button {
        width: 30vw;
        font-size: .8em;
    }

    #aboutUs{
        grid-area: abU;
    }
    #aboutUs .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    #aboutUs .container .text {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50%;
        gap: 1em;
        /* background: green; */

    }
    #aboutUs .container .text .aboutUs__text1 {
        font-size: 1.8em;
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    #aboutUs .container .text p br {
        display: none;
    }
    #aboutUs .container .text p  {
        font-size: .8em;
    }
    #aboutUs .container .text .aboutUs__title{
        font-size: 1.2em;
        align-self: center;
    }
    #aboutUs .container .img {
        height: 50%;
        width: 80%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    #aboutUs .container .img img {
        width: 100%;
        align-self: center;
    }
    #aboutUs .container .text button {
        align-self: center;
        font-size: .8em;
        width: 35vw;
    }
    #foodMenu{
        grid-area: fM;
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    #foodMenu .text{
        width: 80%;
        height: 20vh;
        gap: 1em;
    }
    #foodMenu .text .foodMenu__title{
        font-size: 1.2em;
    }
    #foodMenu .text .foodMenu__text {
        font-size: 1.6em;
        align-self: center;
        text-align: center;
    }
    #foodMenu .cards__container{
        flex-flow: column nowrap;
        width: 75%;
        height: 130vh;
        gap: 1.5em;
        padding-bottom: 0;
    }
    #foodMenu .cards__container .card .card__image {
        width: 15em;
        height: auto;
    }
    #foodMenu .cards__container .card .card__image img {
        object-fit: contain;
        width: 80%;
    }
    #services{
        grid-area: serv;
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    #services .text{
        width: 80%;
        height: 20vh;
        gap: 1em;
    }

    #services .text .services__title{
        font-size: 1.2em;
    }
    #services .text .services__text {
        font-size: 1.6em;
        align-self: center;
        text-align: center;
    }
    
    #services .cards__container{
        flex-flow: column nowrap;
        width: 75%;
        height: 130vh;
        gap: 1.5em;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
    }
    #services .cards__container .card .card__image {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    #services .cards__container .card .card__image img {
        object-fit: contain;
        width: 60%;
        padding-left: 0;
    }
    #services .cards__container .card .card__text p br {
        display: none;
    }
    #lastPage{
        grid-area: lP;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;


    }
    #lastPage .banner {
        width: 90%;
    }
    #lastPage .banner .banner__content p {
        font-size: 1.8em;
        margin-bottom: 0;
    }
    #lastPage .banner .banner__content {
        height: 20vh;
    }
    #lastPage .banner .banner__content button {
        font-size: 1em;
        width: 7em;
    }
    footer {
        grid-area: foot;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 100%;
        height: 100vh;
    }
    footer .box1,.box2,.box3,.box4 {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        text-align: left;
    }
    footer .box1 {
        margin-right: 5.9em;
    }
    footer .box3 {
        margin-right: 1.3em;
    }
    footer .box4 {
        justify-self: center;
        align-self: center;
    }
}